body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB1KSf2NeZzYZ7IdRaqBJwfDCa6TnBYzeO2bQzpB_Rq13Y5MyP");
 background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
 }
 /* top container */
 
 /* nav bar */
 .nav-bar {      /* the box holding whole top nav bar */
    display: flex;
    background-color: white;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
 }
 #logo {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 5px;
 }
 .nav-buttons {      /* the box that holds all the nav buttons */
    display: flex;
    justify-content: space-around;
    width: 90%;
 }
 .nav-buttons a {    /* the nav buttons themselves */
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 .nav-buttons a:hover {
    background-color: blue;
    color: white;
 }
 .dropbtn {
    background-color:white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Titillium Web', sans-serif;
 }
 
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: auto;
    box-shadow: rgba(0,0,0,0.2);
    z-index: 1;
 }
 
 .dropdown-content a {
    color: black;
    padding: 12px 27px;
    text-decoration: none;
    width: auto;
 }
 
 .dropdown-content a:hover {
    background-color: blue;
    color: white;
 }
 .dropdown:hover .dropdown-content {
     display: flex;
     flex-direction: column;
 }
 
 .dropdown:hover .dropbtn {
     background-color: blue;
     color:white;
 }
 /* -------------------------------THIS IS THE NAVBAR CODE!!!!------------------------------------------------------------------- */
 h1 {
    text-align: center;
 }
 
 .box1{
    text-align: center;
    border: 1px solid #000;
    height: 400px;
    width: 400px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 30px grey;
  
 }
 .box2{
    text-align: center;
    border: 1px solid #000;
    height: 400px;
    width: 400px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 30px 30px grey; 
 }
 .box3{
    text-align: center;
    border: 1px solid #000;
    height: 400px;
    width: 400px;  
    box-shadow: 10px 10px 30px 30px gray;
 }
 #items {
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
   box-shadow: 10px 10px 30px 30px grey;
   }